#ModuleInventory
{
	position: absolute;
	left: 3%;
	right: 3%;
	top: 3%;
	bottom: 3%;
}

.InventoryWindow
{
	width: 49%;
	height: 100%;
	background-color: #7A6E58;
	border: 1px solid black;
	display: flex;
	flex-direction: column;
}

.FloatCenter
{
	margin: 0 auto;
}

.FloatLeft
{
	float: left;
}

.FloatRight
{
	float: right;
}

.InventoryHeader
{
	background-color: #4D4737;
	text-align: center;
	height: 50px;
	line-height: 50px;
	color: #cecebf;
	font-family: "Arial Black", Gadget, sans-serif;
}

.InventoryClose
{
	background-color: #ffb299;
	cursor: pointer;
	height: 100%;
	width: 50px;
	line-height: 50px;
	text-align: center;
	color: #000000;
}

.InventoryClose:hover
{
	background-color: #ff794c;
}

.InventoryActionsWrapper
{
	padding: 5px;
}

.InventoryActions
{
	background-color: #cecebf;
	width: 100%;
	height: 70px;
	
	content: "";
	display: table;
	clear: both;
}

.InvActionsImg
{
	width: 70px;
	height: 70px;
}

.InvActionsText
{
	height: 60px;
	text-align: center;
	overflow: hidden;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	padding-top: 10px;
}

.InvActionBtnPanel
{
	height: 60px;
	text-align: center;
	padding-top: 10px;
}

.InvActionBtn
{
	height: 50px;
	width: 50px;
	cursor: pointer;
	opacity: 0.5;
}

.InvActionBtn:hover
{
	opacity: 1;
}

.InventoryItems
{
	flex: 1;
	overflow-y: auto;
	padding-left: 5px;
	padding-right: 5px;
	text-align: center;
}

.InventoryItem
{
	text-align: center;
	width: 70px;
	height: 70px;
	background-color: #5B5243;
	cursor: pointer;
	opacity: 0.8;
	padding: 5px;
	border-radius: 6px;
	margin: 5px;
	display: inline-block;
}

.InventoryItem:hover
{
	opacity: 1;
}

.InventoryItemImg
{
	width: 40px;
	height: 40px;
}

.InventoryItemText
{
	text-align: center;
	color: #cecebf;
	font-family: "Arial Black", Gadget, sans-serif;
}

.InventoryProgressbarWrapper
{
	width: 100%;
	background-color: #4D4737;
	padding-top: 5px;
	padding-bottom: 5px;
}

.InventoryProgressbar
{
	margin: 0 auto;
	width: 90%;
	height: 30px;
	background-color: #776B56;
}

.InventoryProgressbarFill
{
	width: 38%;
	background-color: #2D2921;
	height: 30px;
}

.InventoryTextPercent
{
	float: left;
	text-align: center left;
	line-height: 30px;
	font-family: "Arial Black", Gadget, sans-serif;
	color: #cecebf;
	padding-left: 10px;
}

.InventoryTextAbsolute
{
	float: right;
	text-align: center right;
	line-height: 30px;
	font-family: "Arial Black", Gadget, sans-serif;
	color: #cecebf;
	padding-right: 10px;
}